@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background: #eee;
  height: auto;
}

.headerBox {
  display: flex;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  box-sizing: border-box;
  padding: 5px;
  margin: 10px;
  flex-basis: auto;
}

.imageProp01 {
  display: flex;
  justify-content: stretch;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.button {
  padding: 0.5rem 2rem;
  border: 2px #ccc solid;
  display: inline-block;
  margin: .5rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
}

#buttonHeader {
  padding: 1.5rem;
  text-align: center;
  color: black;
}

h1 {
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

h2 {
  font-weight: 200;
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.featuresContainer01 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  padding: 5px;
  margin: 10px;
}

.onlineformBox {
  flex: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  border: 1px solid blue;
  padding: 1px;
}

.printformBox {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  padding: 1px;
}

.volunteeredBox {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  padding: 1px;  
}

.featuresContainer02 {
  display: flex;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  padding: 5px;
  margin: 10px;
}

.parkinfoBox {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  padding: 1px;  
}

.plantinfoBox {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  padding: 1px;
}

.volunteerschedBox {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  padding: 1px;
}

@media (min-width: 549px) {
  .headerBox .imageProp01 {
    display: flex;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    background-color: white;
  }
}

@media (max-width: 549px) {
  .hidden--mobile {
   display: none;
  }
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav > i {
  padding: 1rem;
  font-size: 2em;
}

nav > ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0;
}

nav > ul > li {
  padding: .5rem;
  list-style-type: none;
}

.inprogress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.ptext {
  font-style: italic;
  font-weight: bold;
  color: navy
}

footer {
  border: 2px solid green;
  box-sizing: border-box;
}