.headerBox {
  max-width: 100%;
  display: flex;
  height: 100px;
  border: 2px solid blue;
  box-sizing: border-box;
  flex-direction: row;
}
.headerImage01 {
  flex: 1;
  height: 100px;
}
.image02 {
  flex: 1;
  height: 100px;
 }
 .image03 {
  flex: 1;
  height: 100px;
 }

div {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

img {
  width: 100px;
  padding: .5rem;
  flex: 1 1 auto;
}

@media screen and (max-width: 768px){
  .headerBox{flex-direction: row}
}

footer {
    border-top: solid green;
    border-right: solid green;
    border-bottom: solid green;
    border-left: solid green;
    color: red;
    margin: auto;
    width: auto;
}
